@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Space Mono";
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2");
}

:root {
    --width: 800px;
    --font-main: 'Space Grotesk';
    --font-heading: 'Space Mono';
    --font-scale: 1em;

    --background-color: #fff;
    --heading-color: #000;
    --text-color: #000;
    --link-color: #4ce5ed;
    --visited-color: #000;
    #--hover-color: #ed4ce5;
    --hover-color: #4ce5ed;
    --selection-color: #4ce5ed;
    --code-background-color: #f7f7f7;
    --code-color: #000;
  }

 @media (prefers-color-scheme: dark) {
    :root {
    --background-color: #000;
    --heading-color: #fff;
    --text-color: #fff;
    --link-color: #4ce5ed;
    --visited-color: #fff;
    --hover-color: #4ce5ed;
    --selection-color: #4ce5ed;
       --code-background-color: #000;
      --code-color: #ddd;
    }
  }

  body {
    font-family: var(--font-main);
    font-size: var(--font-scale);
    margin: auto;
    padding: 20px;
    max-width: var(--width);
    text-align: left;
    background-color: var(--background-color);
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: var(--text-color);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
    color: var(--heading-color);
  }

  a {
      color: var(--text-color);
      font-family: var(--font-main);
      cursor: pointer;
      text-decoration: none;
      border-bottom: 1px solid var(--link-color);
  }

  a:hover {
      background-color: var(--hover-color);
      color: white;
      text-decoration: none;
  }

  ::-moz-selection {
  color: white;
  background: var(--selection-color);
}

::selection {
  color: white;
  background: var(--selection-color);
}

  nav a {
    margin-right: 8px;
  }

  nav span.active {
    font-weight: bold;
    margin-right: 10px;
  }
  strong,
  b {
    color: var(--heading-color);
  }

  button {
    margin: 0;
    cursor: pointer;
  }

  main {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  hr {
    border: 0;
    border-top: 1px dashed;
  }

  img {
    max-width: 100%;
  }

  pre {
  padding: 1rem;
  overflow: auto;
}
/* The line numbers already provide some kind of left/right padding */
pre[data-linenos] {
  padding: 1rem 0;
}
pre table td {
  padding: 0;
}
/* The line number cells */
pre table td:nth-of-type(1) {
  text-align: center;
  user-select: none;
}
pre mark {
  /* If you want your highlights to take the full width */
  display: block;
  /* The default background colour of a mark is bright yellow */
  background-color: rgba(254, 252, 232, 0.9);
}
pre table {
  width: 100%;
  border-collapse: collapse;
}

  pre code {
    background-color: var(--code-background-color);
    color: var(--code-color);
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 0.875rem;
    overflow-x: auto;
  }

  code {
    font-family: monospace;
    padding: 2px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
  }

  blockquote {
    border-left: 1px solid #999;
    color: var(--code-color);
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px 0;
    text-align: center;
  }

  .title:hover {
    text-decoration: none;
  }

  .title h1 {
    font-size: 1.5em;
  }

  .inline {
    width: auto !important;
  }

  .highlight,
  .code {
    padding: 1px 15px;
    background-color: var(--code-background-color);
    color: var(--code-color);
    border-radius: 3px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    overflow-x: auto;
  }

  /* blog post list */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }




  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: var(--text-color);
  }

  ul.blog-posts li a:hover {
      background-color: var(--hover-color);
      color: white;
      text-decoration: none;
  }

  .tags {
    font-size: smaller;
  }



/* Style for the link wrapper */
.social-icon-link {
    align-items: center;
    margin-right: 0px; /* Add some space between icons/links */
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit text color */
}

/* Style for the SVG icon itself */
.social-icon {
    width: 14px; /* Adjust size as needed */
    height: 14px; /* Adjust size as needed */
    fill: currentColor; /* Make the SVG color match the link/text color */
    margin-right: 1px; /* Space between icon and text if you add text */
    vertical-align: baseline; /* Align icon vertically */
}

